.mainContainer {
  padding: 80px 40px 40px 40px;
}

.underConstruction{
  width: 100%;
}

.graph{
  height: 300px;
  padding-bottom: 30px;
  /* border: 1px solid black; */
}

.savings{
  padding-top: 40px;
}

.sponsorImg{
  width: 100%;
}

.sponsors{
  padding-top: 10px;
}

.header{
  text-align: center;
}